extends layout

block content
	h1= title
	p Welcome to #{title}
	// register form
	form(method='POST' action='/post')
		div.form-group
		select(name="topic")
			each topic in topics
				option(value=topic selected=(topic == 'Max') ) #{topic}
		div.form-group
			label(for='ligne1') Ligne1:
			input#ligne1.form-control(type='ligne1', placeholder='17 caracteres max' name='ligne1' maxlength='17')
		div.form-group
			label(for='ligne2') Ligne2:
			input#ligne2.form-control(type='ligne2', placeholder='17 caracteres max' name='ligne2' maxlength='17')
		div.form-group
			label(for='ligne3') Ligne3:
			input#ligne3.form-control(type='ligne3', placeholder='17 caracteres max' name='ligne3' maxlength='17')
		div.form-group
			label(for='ligne4') Ligne4:
			input#ligne4.form-control(type='ligne4', placeholder='17 caracteres max' name='ligne4' maxlength='17')
		div.form-group
			label(for='ligne5') Ligne5:
			input#ligne5.form-control(type='ligne5', placeholder='17 caracteres max' name='ligne5' maxlength='17')
		button.btn.btn-primary(type='submit') Sign up
